%generalStyle{
  color: #000000;
  position: absolute;
  left:10%;
  transition: all 300ms ease-in-out;
  &:hover{
    font-size: 24px;
    color:#6980d4;
  }
}
.app__navbar{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 22px;
  grid-area: n;
  justify-content: center;
  position:relative;
}
.navbar__reg{
  top: 35%;
  @extend %generalStyle;
}
.navbar__login{
  top: 50%;
  @extend %generalStyle;
}
.navbar__pass{
  top: 65%;
  @extend %generalStyle;
}